core-newmax/src/main/wadl/xrest.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl_documentation.xsl.xml"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xrest="urn:xrest.org"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">

	<grammars>
		<include href="xmodel.xsd" />
	</grammars>

	<resources base="http://xrest.org">
		<resource path="data">
			<doc>Writeable resource</doc>
			<resource path="{modelId}">
				<resource path="{objectId}">
					<resource path="{fieldId}">
						<param name="fieldId" type="xsd:string" style="template"
							required="true" />
						<method name="GET">
							<request />
							<response>
								<representation href="#xfield" />
							</response>
						</method>
					</resource>
				</resource>
			</resource>
		</resource>
		<resource path="changes">
			<doc>Read-only resource</doc>
		</resource>
		<resource path="access">
			<doc>Writeable resource</doc>
		</resource>
		<resource path="groups">
			<doc>Writeable resource</doc>
		</resource>
	</resources>

	<representation id="xfield" mediaType="application/xml"
		element="xrest:XField" />


</application>


